@use "../../styles/base/colors" as c;

.wrapper {

    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    backdrop-filter: blur(5px);

    & .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        background-color: c.$bg-100;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 5px rgba($color: black, $alpha: 0.3);

        &section {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    .error{
        color: red;
    }
}