@use "../styles/base/colors" as c;


.wrapper{
    display: flex;
    justify-content: space-between;
    min-height: 3rem;
    background-color: c.$accent-100 ;

    & nav {
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
        align-items: center;

        & a.link {
            text-decoration: none;
            color: c.$accent-200;
            display: flex;
            align-items: center;
            gap: 0.1rem;
        }
    }

    &.iconBar{
        display: flex;
        align-items: center;
        gap: 0.3rem;
        & > svg {
            font-size: 1.5rem;
        }
    }
}