$primary-100: #8F9779;
$primary-200: #737b5e;
$primary-300: #373f25;
$accent-100: #FFB6B9;
$accent-200: #98585c;
$text-100: #4D4D4D;
$text-200: #797979;
$bg-100: #F2EFE9;
$bg-200: #e8e5df;
$bg-300: #bfbdb7;